

.MuiOutlinedInput-notchedOutline{
  border:none !important; 
  /* Removes borders from autocomplete fields */
}

.MuiFormLabel-root{
  z-index: 99;
  color:black !important;
  /* background-color: white; */
  padding:'5px';
  text-shadow: white;
}

.MuiInputLabel-shrink{
  animation: labelFade 0.3s;
  opacity: 0;
}

@keyframes labelFade {
  from{
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}


.css-1sumxir-MuiForm-Label-root-MuiInputLabel-root.Mui-focused{
  color:red !important;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPage > h1 {
  margin-bottom: 0%;
}

.LoginPage > h2 {
  margin-top: 10px;
}

.LoginPage > h4 {
  margin-bottom: 0px;
  align-content: center;
}